<app-enterprises-header [user]="user" [enterprise]="enterprise"></app-enterprises-header>

<ion-content color="secondary" >

    <ion-grid>
        <ion-row>
            <ion-col size-md="2" size-sm="12" size-xs="12">
                <app-enterprises-menu [user]="user" [enterprise]="enterprise"></app-enterprises-menu>
            </ion-col>

            <ion-col size-md="10" size-sm="12" size-xs="12">
                <form [formGroup]="addWorkForm" novalidate>
                    <ion-card color="light">

                        <ion-card-header>
                            <ion-card-title>
                                Que empleo quieres anunciar?
                            </ion-card-title>
                        </ion-card-header>

                        <ion-card-content>
                            <ion-grid>
                                <ion-row>
                                    <ion-col>
                                        <ion-item lines="none" class="border">
                                            <ion-label position="floating">Cargo
                                            </ion-label>
                                            <ion-input type="text" formControlName="position">
                                            </ion-input>
                                        </ion-item>
                                    </ion-col>
                                    <ion-col>
                                        <ion-item lines="none" class="border">
                                            <ion-label position="floating">Salario ($)
                                            </ion-label>
                                            <ion-input type="text" formControlName="salary">
                                            </ion-input>
                                        </ion-item>
                                    </ion-col>
                                    <ion-col>
                                        <ion-item lines="none" class="border">
                                            <ion-label position="floating">Sucursal</ion-label>
                                            <ion-select interface="popover" formControlName="branch">
                                                <ion-select-option *ngFor="let branch of enterprise?.branches"
                                                    [value]="branch">
                                                    {{branch.name}}
                                                </ion-select-option>
                                            </ion-select>
                                        </ion-item>
                                    </ion-col>
                                    <ion-col>
                                        <ion-item lines="none" class="border">
                                            <ion-label position="floating">Tipo de empleo</ion-label>
                                            <ion-select interface="popover" formControlName="type">
                                                <ion-select-option value="Jornada Completa">Jornada
                                                    Completa
                                                </ion-select-option>
                                                <ion-select-option value="Media Jornada">Media Jornada
                                                </ion-select-option>
                                                <ion-select-option value="Contrato por obra">Contrato
                                                    por
                                                    obra
                                                </ion-select-option>
                                                <ion-select-option value="Temporal">Temporal
                                                </ion-select-option>
                                                <ion-select-option value="Voluntario">Voluntario
                                                </ion-select-option>
                                                <ion-select-option value="Prácticas">Prácticas
                                                </ion-select-option>
                                            </ion-select>
                                        </ion-item>
                                    </ion-col>
                                </ion-row>

                                <ion-row>
                                    <ion-col>
                                        <ion-item lines="none" class="border">
                                            <ion-label position="floating">Nivel de experiencia
                                            </ion-label>
                                            <ion-select interface="popover" formControlName="experience">
                                                <ion-select-option value="Prácticas">Prácticas
                                                </ion-select-option>
                                                <ion-select-option value="Sin experiencia">Sin
                                                    experiencia
                                                </ion-select-option>
                                                <ion-select-option value="Algo de responsabilidad">Algo
                                                    de
                                                    responsabilidad
                                                </ion-select-option>
                                                <ion-select-option value="Mando intermedio">Mando
                                                    intermedio
                                                </ion-select-option>
                                                <ion-select-option value="Director">Director
                                                </ion-select-option>
                                                <ion-select-option value="Ejecutivo">Ejecutivo
                                                </ion-select-option>
                                                <ion-select-option value="No corresponde">No corresponde
                                                </ion-select-option>
                                            </ion-select>
                                        </ion-item>
                                    </ion-col>

                                    <ion-col>
                                        <ion-item lines="none" class="border">
                                            <ion-label position="floating">Rubro del empleo</ion-label>
                                            <ion-select interface="popover" formControlName="kind_job">
                                                <ion-select-option *ngFor="let item of work_items" [value]="item">
                                                    {{item.name}}
                                                </ion-select-option>
                                            </ion-select>
                                        </ion-item>
                                    </ion-col>

                                    <ion-col>
                                        <ion-item lines="none" class="border">
                                            <ion-label position="floating">Genero
                                            </ion-label>
                                            <ion-select interface="popover" formControlName="gender">
                                                <ion-select-option value="Masculino">Masculino
                                                </ion-select-option>
                                                <ion-select-option value="Femenino">Femenino
                                                </ion-select-option>
                                                <ion-select-option value="Indiferente">Indiferente
                                                </ion-select-option>
                                            </ion-select>
                                        </ion-item>
                                    </ion-col>

                                </ion-row>


                                <ion-row>
                                    <ion-col>
                                        <ion-item lines="none" class="border">
                                            <ion-label position="floating">Numero de plazas
                                            </ion-label>
                                            <ion-input type="number" formControlName="number">
                                            </ion-input>
                                        </ion-item>
                                    </ion-col>

                                    <ion-col>
                                        <ion-item lines="none" class="border">
                                            <ion-label position="floating">Caducidad</ion-label>
                                            <ion-datetime display-format="MMM DD, YYYY" formControlName="expiration">
                                            </ion-datetime>
                                        </ion-item>
                                    </ion-col>

                                </ion-row>

                                <ion-row>
                                    <ion-col>
                                        <ion-item lines="none" class="border">
                                            <ion-label position="floating">Descripción del empleo
                                            </ion-label>
                                            <ion-textarea rows="10" formControlName="description">
                                            </ion-textarea>
                                        </ion-item>
                                    </ion-col>
                                </ion-row>

                                <ion-row>
                                    <ion-col>
                                        <p>
                                            Añade aptitudes como palabras clave para que tu anuncio de
                                            empleo
                                            llegue a más candidatos adecuados
                                        </p>
                                    </ion-col>
                                </ion-row>


                                <ion-row>
                                    <ion-col>

                                        <ion-item lines="full">
                                            <ion-label (click)="addAptitud()">
                                                <ion-icon name="add"></ion-icon> Añadir aptitud
                                            </ion-label>
                                        </ion-item>

                                        <ion-item lines="none" *ngFor="let aptitud of aptitudes; let i = index">
                                            <ion-label>{{aptitud.name}}</ion-label>
                                            <ion-button slot="end" color="danger" (click)="removeAptitud(aptitud, i)">
                                                <ion-icon name="remove"></ion-icon>
                                            </ion-button>
                                        </ion-item>


                                    </ion-col>
                                </ion-row>

                            </ion-grid>

                        </ion-card-content>
                    </ion-card>
                </form>
                <ion-item lines="none">
                    <ion-button slot="end" (click)="addWork()" [disabled]="addWorkForm.invalid">
                        Agregar Plaza
                        <!-- <ion-icon name="arrow-round-forward" slot="end"></ion-icon> -->
                    </ion-button>
                </ion-item>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>