<app-enterprises-header [user]="user" [enterprise]="enterprise"></app-enterprises-header>

<ion-content color="secondary">
    <ion-grid>
        <ion-row>
            <ion-col size-md="2" size-sm="12" size-xs="12">
                <app-enterprises-menu [user]="user" [enterprise]="enterprise"></app-enterprises-menu>
            </ion-col>

            <ion-col size-md="10" size-sm="10" size-xs="12">
                <ion-row>
                    <ion-col size="11">
                        <ion-searchbar debounce="200" (ionChange)="setSearch($event)" (search)="setSearch($event)"></ion-searchbar>
                    </ion-col>
                    <ion-col size="1">
                        <ion-button (click)="presentAlertRadio()">
                            <ion-icon slot="icon-only" name="options"></ion-icon>
                        </ion-button>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col *ngIf="!peopleData" size-md="4" size-sm="4" size-xs="12">
                        <ion-item>
                            <ion-avatar slot="start">
                                <ion-skeleton-text animated></ion-skeleton-text>
                            </ion-avatar>
                            <ion-label>
                                <h3>
                                    <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                                </h3>
                                <p>
                                    <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                                </p>
                                <p>
                                    <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                                </p>
                            </ion-label>
                        </ion-item>
                    </ion-col>
                </ion-row>

                <div *ngIf="peopleData">
                    <ion-row>
                        <ion-col size-md="4" size-sm="4" size-xs="12" *ngFor="let person of people; let i = index;"
                            routerLink="/persona/{{person.name_url}}/{{person.key}}" routerDirection="root">
                            <ion-card color="light" no-margin>
                                <ion-list lines="none">
                                    <ion-item lines="none" detail="false">

                                        <ion-thumbnail slot="start">
                                            <img src="{{person?.image?.downloadURL}}">
                                        </ion-thumbnail>

                                        <ion-label>
                                            <ion-text color="primary">
                                                <h2>{{person.name}} {{person.lastname}}</h2>

                                                <p *ngIf="person.birthdate">
                                                    {{person.birthdate}} años
                                                </p>
                                            </ion-text>
                                        </ion-label>
                                    </ion-item>
                                    <ion-item>
                                        <ion-chip *ngFor="let item of person.interests; let i = index">
                                            <ion-label>{{item.name}}</ion-label>
                                        </ion-chip>
                                    </ion-item>
                                </ion-list>
                            </ion-card>
                        </ion-col>
                    </ion-row>
                </div>

            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>