<app-enterprises-header [user]="user" [enterprise]="enterprise"></app-enterprises-header>

<ion-content color="secondary">
    <ion-grid>
        <ion-row>
            <ion-col size-md="2" size-sm="12" size-xs="12">
                <app-enterprises-menu [user]="user" [enterprise]="enterprise"></app-enterprises-menu>
            </ion-col>

            <ion-col size-md="10" size-sm="12" size-xs="12">



                <ion-item-group>
                    <ion-item-divider>
                        <ion-label>Tus notificaciones</ion-label>

                        <ion-button fill="outline" slot="end" (click)="markAllAsRead()">
                            Marcar todas como leidas
                        </ion-button>

                    </ion-item-divider>

                    <ion-item no-lines *ngFor="let notification of notifications">

                        <ion-avatar slot="start" *ngIf="notification?.reason == 'applyToAJob'">
                            <img src="{{notification?.from?.image?.downloadURL}}">
                        </ion-avatar>

                        <ion-label text-wrap *ngIf="notification?.reason == 'applyToAJob'">
                            <ion-text>
                                <h3>
                                    <strong>
                                        <a routerLink="/persona/{{notification?.from?.name}}/{{notification?.from?.applicant_key}}"
                                            routerDirection="root">
                                            {{notification?.from?.name}} {{notification?.from?.lastname}}
                                        </a>
                                    </strong>
                                    aplicó a la plaza
                                    <strong>
                                        <a routerLink="/mis_plazas/{{notification?.job?.key}}" routerDirection="root">
                                            {{notification?.job?.position}}
                                        </a>
                                    </strong>
                                </h3>
                            </ion-text>
                            <ion-text color="dark">
                                <p>
                                    {{notification?.date}}
                                </p>
                            </ion-text>
                        </ion-label>

                        <ion-avatar slot="start" *ngIf="notification?.reason == 'recomendation'">
                            <img src="./assets/imgs/logo.png" alt="">
                        </ion-avatar>

                        <ion-label text-wrap *ngIf="notification?.reason == 'recomendation'">
                            <ion-text>
                                <h3>
                                    <strong> Alempleo </strong>
                                    Te recomendo a
                                    <strong>
                                        <a routerLink="/persona/{{notification?.applicant?.name}}/{{notification?.applicant?.key}}"
                                            routerDirection="root">
                                            {{notification?.applicant?.name}}
                                            {{notification?.applicant?.lastname}}
                                        </a>
                                    </strong>
                                    para la plaza
                                    <strong>
                                        <a routerLink="/mis_plazas/{{notification?.job?.key}}" routerDirection="root">
                                            {{notification?.job?.position}}
                                        </a>
                                    </strong>
                                </h3>
                            </ion-text>
                            <ion-text color="dark">
                                <p>
                                    {{notification?.date}}
                                </p>
                            </ion-text>
                        </ion-label>

                        <ion-button fill="outline" slot="end" (click)="markAsRead(notification)">
                            Marcar como leido
                        </ion-button>


                    </ion-item>

                </ion-item-group>

                <!-- <ion-item-group>
                    <ion-item-divider>
                        <ion-label>Notificaciones antiguas</ion-label>
                    </ion-item-divider>

                </ion-item-group> -->

            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>