<app-people-header [user]="user"></app-people-header>

<ion-content color="secondary">
    <ion-grid>
        <ion-row>
            <ion-col size-md="2" size-sm="12" size-xs="12">
                <app-people-menu [user]="user"></app-people-menu>
            </ion-col>

            <ion-col size-md="10" size-sm="12" size-xs="12">



                <ion-item-group>
                    <ion-item-divider>
                        <ion-label>Tus notificaciones</ion-label>

                        <ion-button fill="outline" slot="end" (click)="markAllAsRead()">
                            Marcar todas como leidas
                        </ion-button>

                    </ion-item-divider>

                    <ion-item no-lines *ngFor="let notification of notifications">


                        <ion-avatar slot="start" *ngIf="notification?.reason == 'applyToAJob'">
                            <img src="{{notification?.from?.image?.downloadURL}}">
                        </ion-avatar>

                        <ion-label text-wrap *ngIf="notification?.reason == 'applyToAJob'">
                            <ion-text>
                                <h3>
                                    <strong>{{notification?.from?.name}} {{notification?.from?.lastname}}</strong>
                                    aplicó a la plaza
                                    <strong>
                                        {{notification?.job?.position}}
                                    </strong>
                                </h3>
                            </ion-text>
                            <ion-text color="dark">
                                <p>
                                    {{notification?.date}}
                                </p>
                            </ion-text>
                        </ion-label>



                        <ion-avatar slot="start" *ngIf="notification?.reason == 'recomendation'">
                            <img src="./assets/imgs/logo.png" alt="">
                        </ion-avatar>

                        <ion-label text-wrap *ngIf="notification?.reason == 'recomendation'">
                            <ion-text>
                                <h3>
                                    <strong>Alempleo</strong>
                                    Te recomendo para la plaza
                                    <strong routerLink="/plaza/{{notification?.job?.key}}" routerDirection="root">
                                        {{notification?.job?.position}}
                                    </strong>
                                    de
                                    <strong routerLink="/plaza/{{notification?.job?.key}}" routerDirection="root">
                                        {{notification?.job?.enterprise?.name}}
                                    </strong>
                                </h3>
                            </ion-text>
                            <ion-text color="dark">
                                <p>
                                    {{notification?.date}}
                                </p>
                            </ion-text>
                        </ion-label>

                        <ion-button fill="outline" slot="end" (click)="markAsRead(notification)"> 
                            Marcar como leido
                        </ion-button>


                    </ion-item>

                </ion-item-group>

            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>