<ion-header text-center>
    <ion-toolbar color="light">
        <ion-grid>
            <ion-row text-left>
                <ion-col size-md="2" class="ion-no-padding">
                    <img src="./assets/logo.png" alt="" style="max-width: 100%">
                </ion-col>
                <ion-col size-md="2" class="ion-no-padding">
                    <img src="./assets/alempleo.png" alt="" style="max-width: 100%">
                </ion-col>
                <ion-col size-md="2" class="ion-no-padding">
                    <img src="./assets/fundemas.png" alt="" style="max-width: 100%">
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
    <ion-toolbar color="dark" class="ion-no-padding">
        <ion-grid class="ion-no-padding">
            <ion-row class="ion-no-padding">
                <ion-col size-md="4" size-sm="4" size-xs="12" class="ion-no-padding" text-left>
                    <ion-button color="medium" class="button-header" routerDirection="root"
                        routerLink="/dashboard/personas">
                        <img src="./assets/imgs/logo.png" alt="">
                    </ion-button>
                    <!-- Alempleo Super Administrador -->
                </ion-col>

                <ion-col size-md="8" size-sm="8" size-xs="12" class="ion-no-padding" text-right>
                    <ion-row>
                        <ion-col size="5" offset="5">
                            <!-- <ion-searchbar (ionCancel)="search()" showCancelButton cancelButtonText="Buscar" animated ></ion-searchbar> -->
                            <ion-searchbar (search)="search($event)"></ion-searchbar>
                        </ion-col>
                        <ion-col size="2">
                            <ion-button color="medium" class="button-header" routerLink="/notificaciones"
                                routerDirection="root">
                                <ion-ripple-effect></ion-ripple-effect>
                                <ion-note slot="end">
                                    {{user?.notifications}}
                                </ion-note>
                                <ion-icon name="chatboxes" slot="start"></ion-icon>
                            </ion-button>

                            <ion-button (click)="presentProfilePopover($event)" color="medium" class="button-header">
                                <ion-ripple-effect></ion-ripple-effect>
                                <ion-icon name="settings"></ion-icon>
                            </ion-button>
                        </ion-col>
                    </ion-row>
                </ion-col>


            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-header>

<ion-button expand="full" color="danger" routerLink="/cuestionario/personas" routerDirection="root"
    *ngIf="user?.status == 'starter'">
    Hola {{user?.name}}, ya casi estas listo, presiona aqui para poder continuar con la configuración de tu cuenta
</ion-button>

<ion-button expand="full" color="danger" routerLink="/cuestionario/personas" routerDirection="root"
    *ngIf="user?.status == 'pending_authorization'">
    Felicidades {{user?.name}}, tu cuenta esta en proceso de autorización
</ion-button>