<ion-col size-md="12" size-sm="12" size-xs="12">
    <ion-row>
        <ion-col size-md="2" size-sm="2" size-xs="12" offset="1">
            <img src="{{applicant?.image?.downloadURL}}" class="img-preview">

            <ion-button color="primary" expand="block" *ngIf="!already_applied" (click)="changeContactData()">
                <ion-ripple-effect></ion-ripple-effect>
                Ver Datos de contacto
            </ion-button>

            <ion-button color="primary" expand="block" *ngIf="!already_applied" (click)="downloadCV()">
                <ion-ripple-effect></ion-ripple-effect>
                Descargar CV
            </ion-button>
        </ion-col>

        <ion-col size-md="9" size-sm="9" size-xs="12">
            <ion-card no-margin>
                <ion-card-header>
                    <ion-card-title>
                        {{applicant?.name}} {{applicant?.lastname}}
                    </ion-card-title>

                    <!-- <ion-card-subtitle>
                                {{person?.email}}
                            </ion-card-subtitle> -->

                    <ion-row *ngIf="contactData">
                        <ion-col size-md="12" size-sm="12" size-xs="12">
                            <h2>
                                <strong>Datos de contacto</strong>
                            </h2>
                            <p>
                                Numeros de telefono: {{applicant?.number_1}} | {{applicant?.number_2}} |
                                {{applicant?.number_3}}
                            </p>
                        </ion-col>
                    </ion-row>

                    <p *ngIf="applicant?.address">
                        <strong>Dirección:</strong> {{applicant?.address}}
                    </p>
                    <p *ngIf="applicant?.civil_status">
                        <strong>Estado civil:</strong> {{applicant?.civil_status}}
                    </p>
                    <p *ngIf="applicant?.dui">
                        <strong>DUI:</strong> {{applicant?.dui}}
                    </p>
                    <p *ngIf="applicant?.nit">
                        <strong>NIT:</strong> {{applicant?.nit}}
                    </p>
                    <p *ngIf="applicant?.nup">
                        <strong>NUP (AFP):</strong> {{applicant?.nup}}
                    </p>
                </ion-card-header>

                <ion-card-content>
                    <h1 *ngIf="applicant?.experience">Experiencia Laboral</h1>
                    <ion-list>

                        <ion-item *ngFor="let experience of applicant?.experience">
                            <ion-label text-wrap>
                                <ion-text color="dark">
                                    <h3>{{experience?.name}}</h3>
                                </ion-text>
                                <p>
                                    <strong>Telefono: </strong>{{experience?.phone}}
                                </p>
                                <p>
                                    <strong>Cargo desempeñado: </strong>{{experience?.position}}
                                </p>
                                <p>
                                    <strong>Principales Funciones realizadas:
                                    </strong>{{experience?.main_functions}}
                                </p>
                                <p>
                                    <strong>Jefe inmediato
                                    </strong>{{experience?.chief}}
                                </p>
                                <p>
                                    <strong>Cargo de jefe inmediato:
                                    </strong>{{experience?.chief_position}}
                                </p>
                                <p>
                                    <strong>Periodo:
                                    </strong>{{experience?.start}} - {{experience?.end}}
                                </p>
                            </ion-label>
                        </ion-item>
                    </ion-list>


                    <h1 *ngIf="applicant?.careers">Estudios Superiores</h1>
                    <ion-list>

                        <ion-item *ngFor="let career of applicant?.careers">
                            <ion-label text-wrap>
                                <ion-text color="dark">
                                    <h3>{{career?.name}}</h3>
                                </ion-text>
                                <p>
                                    <strong>Institución: </strong>{{career?.institution}}
                                </p>
                                <p>
                                    <strong>Nivel alcanzado: </strong>{{career?.level}}
                                </p>
                                <p>
                                    <strong>Periodo
                                    </strong>{{career.period}}
                                </p>
                            </ion-label>
                        </ion-item>
                    </ion-list>

                    <h1 *ngIf="applicant?.studys">Nivel de estudios alcanzado</h1>
                    <ion-list>
                        <ion-item *ngFor="let study of applicant?.studys">
                            <ion-label text-wrap>
                                <ion-text color="dark">
                                    <h3>{{study.period}}</h3>
                                </ion-text>
                                <p>
                                    <strong>Institución: </strong>{{study?.institution}}
                                </p>
                            </ion-label>
                        </ion-item>
                    </ion-list>

                    <h1 *ngIf="applicant?.courses">Cursos o seminarios</h1>
                    <ion-list>
                        <ion-item *ngFor="let course of applicant?.courses">
                            <ion-label text-wrap>
                                <ion-text color="dark">
                                    <h3>{{course.name}}</h3>
                                </ion-text>
                                <p>
                                    <strong>Institución: </strong>{{course?.institution}}
                                </p>
                                <p>
                                    <strong>Duración: </strong>{{course?.duration}}
                                </p>
                                <p>
                                    <strong>Fecha: </strong>{{course?.date}}
                                </p>
                            </ion-label>
                        </ion-item>
                    </ion-list>

                    <h1 *ngIf="applicant?.references">Referencias personales</h1>
                    <ion-list>
                        <ion-item *ngFor="let reference of applicant?.references">
                            <ion-label text-wrap>
                                <ion-text color="dark">
                                    <h3>{{reference.name}}</h3>
                                </ion-text>
                                <p>
                                    <strong>Telefono: </strong>{{reference?.phone}}
                                </p>
                                <p>
                                    <strong>Empresa: </strong>{{reference?.enterprise}}
                                </p>
                                <p>
                                    <strong>Posición: </strong>{{reference?.position}}
                                </p>
                            </ion-label>
                        </ion-item>
                    </ion-list>


                </ion-card-content>
            </ion-card>
            <h2>Intereses</h2>

            <ion-row>
                <ion-chip *ngFor="let item of interests; let i = index">
                    <ion-label>{{item.name}}</ion-label>
                </ion-chip>
            </ion-row>
        </ion-col>
    </ion-row>
</ion-col>