<app-enterprises-header [user]="user"></app-enterprises-header>


<ion-content color="secondary" padding>

    <ion-grid>
        <ion-row>
            <ion-col size-md="3" size-sm="12" size-xs="12">
                <app-enterprises-menu [user]="user"></app-enterprises-menu>
            </ion-col>

            <ion-col size-md="9" size-sm="12" size-xs="12">

                <ion-card *ngIf="!jobsData">
                    <ion-item *ngFor="let loader of [0,1,2,3]">
                        <ion-avatar slot="start">
                            <ion-skeleton-text animated></ion-skeleton-text>
                        </ion-avatar>
                        <ion-label>
                            <h3>
                                <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                            </h3>
                            <p>
                                <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                            </p>
                            <p>
                                <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                            </p>
                        </ion-label>
                    </ion-item>
                </ion-card>

                <div *ngIf="jobsData">
                    <ion-card *ngFor="let job of jobs">
                        <ion-card-header>
                            <ion-card-title>{{job?.position}}</ion-card-title>
                            <ion-card-subtitle>
                                {{job?.type}}
                                <br>
                                ${{job?.salary}}
                            </ion-card-subtitle>
                        </ion-card-header>

                        <ion-card-content>
                            {{job?.description}}
                            <br>
                            <ion-card-subtitle>
                                Experiencia necesaria: {{job?.experience}}
                            </ion-card-subtitle>
                        </ion-card-content>

                        <ion-card-content>
                            <ion-card-title>{{job?.enterprise.name}}</ion-card-title>
                            <ion-card-subtitle>
                                {{job?.branch.name}}
                                <br>
                                {{job?.branch.address}}
                            </ion-card-subtitle>
                        </ion-card-content>
                    </ion-card>
                </div>

            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>