<app-people-header [user]="user"></app-people-header>

<ion-content color="secondary" padding>

    <ion-grid>
        <ion-row>
            <ion-col size-md="2" size-sm="12" size-xs="12">
                <app-people-menu [user]="user"></app-people-menu>
            </ion-col>

            <ion-col size-md="7" size-sm="12" size-xs="12">

                <h2>
                    Trabajos para {{categoryName}}
                </h2>
                <ion-card *ngIf="!jobsData">
                    <ion-item *ngFor="let loader of [0,1,2,3]">
                        <ion-avatar slot="start">
                            <ion-skeleton-text animated></ion-skeleton-text>
                        </ion-avatar>
                        <ion-label>
                            <h3>
                                <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                            </h3>
                            <p>
                                <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                            </p>
                            <p>
                                <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                            </p>
                        </ion-label>
                    </ion-item>
                </ion-card>

                <div *ngIf="jobsData">
                    <ion-card *ngFor="let job of jobs">
                        <ion-card-header>
                            <ion-card-title>{{job?.position}}</ion-card-title>
                            <ion-card-subtitle>
                                {{job?.type}}
                                <br>
                                ${{job?.salary}}
                            </ion-card-subtitle>
                        </ion-card-header>

                        <ion-card-content>
                            {{job?.description}}
                            <br>
                            <ion-card-subtitle>
                                Experiencia necesaria: {{job?.experience}}
                            </ion-card-subtitle>
                        </ion-card-content>

                        <ion-card-content>
                            <ion-card-title>{{job?.enterprise.name}}</ion-card-title>
                            <ion-card-subtitle>
                                {{job?.branch.name}}
                                <br>
                                {{job?.branch.address}}
                            </ion-card-subtitle>

                            <ion-button color="primary" expand="block" class="add-btn"
                                routerLink="/workplace/{{job.key}}" routerDirection="root">
                                <ion-ripple-effect></ion-ripple-effect>
                                Revisar Plaza
                            </ion-button>
                        </ion-card-content>
                    </ion-card>
                </div>
            </ion-col>

            <ion-col size-md="3" size-sm="12" size-xs="12">
                <ion-list *ngIf="!workItemsData">
                    <ion-item *ngFor="let loader of [0,1,2,3]">
                        <ion-avatar slot="start">
                            <ion-skeleton-text animated></ion-skeleton-text>
                        </ion-avatar>
                        <ion-label>
                            <h3>
                                <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                            </h3>
                            <p>
                                <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                            </p>
                            <p>
                                <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                            </p>
                        </ion-label>
                    </ion-item>
                </ion-list>

                <ion-list *ngIf="workItemsData">
                    <ion-list-header color="medium" lines="no-lines">
                        <ion-label>
                            Categorias
                        </ion-label>
                    </ion-list-header>

                    <!-- <ion-item color="dark" lines="inset" routerLink="/workplaces/category/{{item.name}}"
                        routerDirection="root" *ngFor="let item of work_items">
                        {{item.name}}
                    </ion-item> -->

                </ion-list>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>