<app-enterprises-header [user]="user" [enterprise]="enterprise"></app-enterprises-header>


<ion-content color="secondary">
    <ion-grid>
        <ion-row>
            <ion-col size-md="2" size-sm="12" size-xs="12">
                <app-enterprises-menu [user]="user" [enterprise]="enterprise"></app-enterprises-menu>
            </ion-col>

            <ion-col size-md="10" size-sm="10" size-xs="12">
                <ion-row>
                    <ion-col size-md="2" size-sm="2" size-xs="12" offset-md="1" offset-sm="1">
                        <img src="{{enterprise?.image?.downloadURL}}">
                        <ion-button color="success" expand="block" class="add-btn"
                            routerLink="/mis_plazas/{{job_key}}/favs" routerDirection="root">
                            <ion-ripple-effect></ion-ripple-effect>
                            Ver Favoritos
                        </ion-button>
                    </ion-col>

                    <ion-col size-md="8" size-sm="8" size-xs="12">
                        <ion-row>
                            <ion-card no-margin>
                                <ion-card-header>
                                    <ion-card-title>{{job?.position}}</ion-card-title>
                                </ion-card-header>

                                <ion-card-content>
                                    <ion-row>
                                        <ion-col size-md="6" size-sm="6" size-xs="12">
                                            <h2>
                                                <strong>Detalles de la oferta</strong>
                                            </h2>
                                            <p>
                                                Empresa: {{job?.enterprise.name}}
                                            </p>
                                            <p>
                                                Cargo Solicitado: {{job?.position}}
                                            </p>
                                            <p>
                                                Tipo de trabajo: {{job?.type}}
                                            </p>
                                            <p>
                                                Area de la empresa: NOMBRE
                                            </p>
                                        </ion-col>
                                        <ion-col size-md="6" size-sm="6" size-xs="12" text-right>
                                            <h2>
                                                <strong>Oferta salarial</strong><br>
                                                ${{job?.salary}}
                                            </h2>
                                        </ion-col>
                                    </ion-row>

                                    <ion-row>
                                        <ion-col size-md="12" size-sm="12" size-xs="12">
                                            <h2>
                                                <strong>
                                                    Descrición de la oferta
                                                </strong>
                                            </h2>

                                            <div [innerHTML]="job?.description">

                                            </div>

                                            <h2>
                                                <strong>
                                                    Sobre la empresa
                                                </strong>
                                            </h2>

                                            <p>
                                                {{job?.enterprise?.description}}
                                            </p>
                                        </ion-col>
                                    </ion-row>
                                </ion-card-content>
                            </ion-card>
                        </ion-row>
                    </ion-col>
                </ion-row>

            </ion-col>
        </ion-row>
        <ion-row text-center>
            <ion-col size-md="12" size-sm="12" size-xs="12" text-center>
                <h1 text-center>
                    Aplicantes
                </h1>
            </ion-col>
        </ion-row>
        <ion-row>

            <ion-col size-md="12" size-sm="12" size-xs="12">
                <ion-row *ngIf="!applicantsData">
                    <ion-col size-md="4" size-sm="4" size-xs="12">
                        <ion-card>
                            <ion-item>
                                <ion-avatar slot="start">
                                    <ion-skeleton-text animated></ion-skeleton-text>
                                </ion-avatar>
                                <ion-label>
                                    <h3>
                                        <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                                    </h3>
                                    <p>
                                        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                                    </p>
                                    <p>
                                        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                                    </p>
                                </ion-label>
                            </ion-item>
                        </ion-card>
                    </ion-col>
                </ion-row>

                <div *ngIf="applicantsData">
                    <ion-row>
                        <ion-col size-md="4" size-sm="4" size-xs="12" *ngFor="let applicant of applicants">
                            
                            <ion-fab vertical="top" horizontal="end" *ngIf="applicant.alempleo == true">
                                <ion-fab-button>
                                        <img src="./assets/imgs/logo.png" alt="">
                                </ion-fab-button>
                            </ion-fab>

                            <ion-card>
                                <ion-item color="light" lines="no-lines">

                                    <ion-thumbnail slot="start" class="ion-float-left ion-align-self-start">
                                        <img src="{{applicant.image.downloadURL}}">
                                    </ion-thumbnail>

                                    <ion-label>

                                        <ion-text>
                                            <h3>
                                                {{applicant.name}} {{applicant.lastname}}
                                            </h3>
                                            <h3 color="primary">
                                                email: <a>{{applicant.email}}</a>
                                            </h3>
                                        </ion-text>


                                        <ion-button color="primary" expand="block" class="add-btn"
                                            (click)="previewApplicant(applicant)">
                                            <ion-ripple-effect></ion-ripple-effect>
                                            Ver Aplicante
                                        </ion-button>

                                        <ion-button color="success" expand="block" class="add-btn"
                                            (click)="addTopFavs(applicant)"
                                            *ngIf="applicant.status_application !== 'fav'">
                                            <ion-ripple-effect></ion-ripple-effect>
                                            Agregar a favoritos
                                        </ion-button>
                                        <ion-button *ngIf="applicant.status_application == 'fav'" color="danger"
                                            expand="block" class="add-btn">
                                            <ion-ripple-effect></ion-ripple-effect>
                                            Agregado a favoritos
                                        </ion-button>



                                    </ion-label>
                                </ion-item>
                            </ion-card>
                        </ion-col>
                    </ion-row>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>