<app-enterprises-header [user]="user" [enterprise]="enterprise"></app-enterprises-header>

<ion-content color="secondary">
    <ion-grid>
        <ion-row>
            <ion-col size-md="2" size-sm="12" size-xs="12">
                <app-enterprises-menu [user]="user" [enterprise]="enterprise"></app-enterprises-menu>
            </ion-col>

            <ion-col size-md="10" size-sm="10" size-xs="12">
                <ion-row>
                    <ion-col size-md="2" size-sm="2" size-xs="12" offset="1">
                        <img src="{{person?.image?.downloadURL}}" class="img-preview">

                        <ion-button color="success" expand="block" class="add-btn" (click)="addToaJob()">
                            <ion-ripple-effect></ion-ripple-effect>
                            Agregar a plaza
                        </ion-button>
                    </ion-col>

                    <ion-col size-md="9" size-sm="9" size-xs="12">
                        <ion-card no-margin>
                            <ion-card-header>
                                <ion-card-title>
                                    {{person?.name}} {{person?.lastname}}
                                </ion-card-title>

                                <!-- <ion-card-subtitle>
                                    {{person?.email}}
                                </ion-card-subtitle> -->

                                <p *ngIf="person?.address">
                                    <strong>Dirección:</strong> {{person?.address}}
                                </p>
                                <p *ngIf="person?.civil_status">
                                    <strong>Estado civil:</strong> {{person?.civil_status}}
                                </p>
                                <p *ngIf="person?.dui">
                                    <strong>DUI:</strong> {{person?.dui}}
                                </p>
                                <p *ngIf="person?.nit">
                                    <strong>NIT:</strong> {{person?.nit}}
                                </p>
                                <p *ngIf="person?.nup">
                                    <strong>NUP (AFP):</strong> {{person?.nup}}
                                </p>
                            </ion-card-header>

                            <ion-card-content>
                                <h1 *ngIf="person?.experience">Experiencia Laboral</h1>
                                <ion-list>

                                    <ion-item *ngFor="let experience of person?.experience">
                                        <ion-label text-wrap>
                                            <ion-text color="dark">
                                                <h3>{{experience?.name}}</h3>
                                            </ion-text>
                                            <p>
                                                <strong>Telefono: </strong>{{experience?.phone}}
                                            </p>
                                            <p>
                                                <strong>Cargo desempeñado: </strong>{{experience?.position}}
                                            </p>
                                            <p>
                                                <strong>Principales Funciones realizadas:
                                                </strong>{{experience?.main_functions}}
                                            </p>
                                            <p>
                                                <strong>Jefe inmediato
                                                </strong>{{experience?.chief}}
                                            </p>
                                            <p>
                                                <strong>Cargo de jefe inmediato:
                                                </strong>{{experience?.chief_position}}
                                            </p>
                                            <p>
                                                <strong>Periodo:
                                                </strong>{{experience?.start}} - {{experience?.end}}
                                            </p>
                                        </ion-label>
                                    </ion-item>
                                </ion-list>


                                <h1 *ngIf="person?.careers">Estudios Superiores</h1>
                                <ion-list>

                                    <ion-item *ngFor="let career of person?.careers">
                                        <ion-label text-wrap>
                                            <ion-text color="dark">
                                                <h3>{{career?.name}}</h3>
                                            </ion-text>
                                            <p>
                                                <strong>Institución: </strong>{{career?.institution}}
                                            </p>
                                            <p>
                                                <strong>Nivel alcanzado: </strong>{{career?.level}}
                                            </p>
                                            <p>
                                                <strong>Periodo
                                                </strong>{{career.period}}
                                            </p>
                                        </ion-label>
                                    </ion-item>
                                </ion-list>

                                <h1 *ngIf="person?.studys">Nivel de estudios alcanzado</h1>
                                <ion-list>
                                    <ion-item *ngFor="let study of person?.studys">
                                        <ion-label text-wrap>
                                            <ion-text color="dark">
                                                <h3>{{study.period}}</h3>
                                            </ion-text>
                                            <p>
                                                <strong>Institución: </strong>{{study?.institution}}
                                            </p>
                                        </ion-label>
                                    </ion-item>
                                </ion-list>

                                <h1 *ngIf="person?.courses">Cursos o seminarios</h1>
                                <ion-list>
                                    <ion-item *ngFor="let course of person?.courses">
                                        <ion-label text-wrap>
                                            <ion-text color="dark">
                                                <h3>{{course.name}}</h3>
                                            </ion-text>
                                            <p>
                                                <strong>Institución: </strong>{{course?.institution}}
                                            </p>
                                            <p>
                                                <strong>Duración: </strong>{{course?.duration}}
                                            </p>
                                            <p>
                                                <strong>Fecha: </strong>{{course?.date}}
                                            </p>
                                        </ion-label>
                                    </ion-item>
                                </ion-list>

                                <h1 *ngIf="person?.references">Referencias personales</h1>
                                <ion-list>
                                    <ion-item *ngFor="let reference of person?.references">
                                        <ion-label text-wrap>
                                            <ion-text color="dark">
                                                <h3>{{reference.name}}</h3>
                                            </ion-text>
                                            <p>
                                                <strong>Telefono: </strong>{{reference?.phone}}
                                            </p>
                                            <p>
                                                <strong>Empresa: </strong>{{reference?.enterprise}}
                                            </p>
                                            <p>
                                                <strong>Posición: </strong>{{reference?.position}}
                                            </p>
                                        </ion-label>
                                    </ion-item>
                                </ion-list>


                            </ion-card-content>
                        </ion-card>
                        <h2>Intereses</h2>

                        <ion-row>
                            <ion-chip *ngFor="let item of interests; let i = index">
                                <ion-label>{{item.name}}</ion-label>
                            </ion-chip>
                        </ion-row>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>