<ion-card color="dark" no-margin>

    <ion-card-header color="medium" text-center>
        <ion-grid>
            <ion-row align-items-center>
                <ion-col size="6" offset="3">
                    <img src="{{enterprise?.image?.downloadURL}}">
                </ion-col>
            </ion-row>
        </ion-grid>
        <span color="light" style="color:#fff">
            ¡Bienvenido <strong> {{user?.name}}</strong>!
        </span>
    </ion-card-header>

    <ion-card-content>
        <ion-button color="danger" expand="block" routerLink="/empresas/agregar_empleo" routerDirection="root"
            *ngIf="enterprise?.status == 'active'">
            <ion-ripple-effect></ion-ripple-effect>
            Agregar Plaza
        </ion-button>

        <ion-button color="danger" expand="block" (click)="cantAdd()" routerDirection="root"
            *ngIf="enterprise?.status !== 'active'">
            <ion-ripple-effect></ion-ripple-effect>
            Agregar Plaza
        </ion-button>
        <br>

        <ion-list lines="none" no-padding>
            <ion-list-header color="medium">
                <ion-label>
                    Menu
                </ion-label>
            </ion-list-header>

            <ion-item color="dark" no-padding routerLink="/dashboard/empresas" routerDirection="root">
                Dashboard
            </ion-item>

            <ion-item color="dark" no-padding routerLink="/personas" routerDirection="root">
                Buscar Personas
            </ion-item>

            <ion-item color="dark" no-padding routerLink="/mis_plazas" routerDirection="root">
                <ion-label>
                    Mis Plazas
                </ion-label>
            </ion-item>
            <ion-item color="dark" no-padding routerLink="/historial" routerDirection="root">
                <ion-label>
                    Historial
                </ion-label>
            </ion-item>
            <ion-item color="dark" no-padding routerLink="/notificaciones/{{enterprise?.name}}" routerDirection="root">
                <ion-label>
                    Notificaciones
                </ion-label>
                <ion-note slot="end" color="primary">
                    {{enterprise?.notifications}}
                </ion-note>
            </ion-item>
        </ion-list>
        <br>

        <ion-list>
            <ion-list-header color="medium">
                <ion-label>
                    Opciones Alempleo
                </ion-label>
            </ion-list-header>
            <ion-item color="dark" no-padding routerLink="/configuraciones/{{enterprise?.name}}" routerDirection="root">
                Mi perfil
            </ion-item>

        </ion-list>

        <div padding>
            <ion-row>
                <ion-col size-md="3" size-sm="12" size-xs="12">
                </ion-col>
                <ion-col size-md="6" size-sm="12" size-xs="12">
                    <img src="./assets/imgs/logo-full.png" alt="">
                </ion-col>
            </ion-row>
        </div>

    </ion-card-content>
</ion-card>