<app-people-header [user]="user"></app-people-header>

<ion-content color="secondary">
    <ion-grid>
        <ion-row>
            <ion-col size-md="2" size-sm="12" size-xs="12">
                <app-people-menu [user]="user"></app-people-menu>
            </ion-col>

            <ion-col size-md="10" size-sm="10" size-xs="12">
                <ion-row>
                    <ion-col size-md="2" size-sm="2" size-xs="12" offset-md="1" offset-sm="1" text-center>

                        <img src="{{job?.enterprise?.image?.downloadURL}}">


                        <ion-button color="success" expand="block" (click)="applyToAJob()" *ngIf="!already_applied">
                            <ion-ripple-effect></ion-ripple-effect>
                            Aplicar a Plaza
                        </ion-button>

                        <ion-button color="success" disabled expand="block" *ngIf="already_applied">
                            <ion-ripple-effect></ion-ripple-effect>
                            Ya has aplicado
                        </ion-button>



                    </ion-col>

                    <ion-col size-md="8" size-sm="8" size-xs="12">
                        <ion-row>
                            <ion-card no-margin>
                                <ion-card-header>
                                    <ion-card-title>{{job?.position}}</ion-card-title>
                                </ion-card-header>

                                <ion-card-content>
                                    <ion-row>
                                        <ion-col size-md="6" size-sm="6" size-xs="12">
                                            <h2>
                                                <strong>Detalles de la oferta</strong>
                                            </h2>
                                            <p>
                                                Empresa: {{job?.enterprise.name}}
                                            </p>
                                            <p>
                                                Cargo Solicitado: {{job?.position}}
                                            </p>
                                            <p>
                                                Tipo de trabajo: {{job?.type}}
                                            </p>
                                            <p>
                                                Area de la empresa: NOMBRE
                                            </p>
                                        </ion-col>
                                        <ion-col size-md="6" size-sm="6" size-xs="12" text-right>
                                            <h2>
                                                <strong>Oferta salarias</strong><br>
                                                ${{job?.salary}}
                                            </h2>
                                        </ion-col>
                                    </ion-row>

                                    <ion-row>
                                        <ion-col size-md="12" size-sm="12" size-xs="12">
                                            <h2>
                                                <strong>
                                                    Descrición de la oferta
                                                </strong>
                                            </h2>

                                            <div [innerHTML]="job?.description">

                                            </div>

                                            <h2>
                                                <strong>
                                                    Sobre la empresa
                                                </strong>
                                            </h2>

                                            <p>
                                                {{job?.enterprise?.description}}
                                            </p>
                                        </ion-col>
                                    </ion-row>

                                    
                                </ion-card-content>
                            </ion-card>
                        </ion-row>

                        <!-- <ion-row *ngIf="!jobsData">
                            <ion-col size-md="4" size-sm="4" size-xs="12">
                                <ion-card>
                                    <ion-item>
                                        <ion-avatar slot="start">
                                            <ion-skeleton-text animated></ion-skeleton-text>
                                        </ion-avatar>
                                        <ion-label>
                                            <h3>
                                                <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                                            </h3>
                                            <p>
                                                <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                                            </p>
                                            <p>
                                                <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                                            </p>
                                        </ion-label>
                                    </ion-item>
                                </ion-card>
                            </ion-col>
                        </ion-row>

                        <div *ngIf="jobsData">
                            <ion-row>
                                <ion-col size-md="6" size-sm="6" size-xs="12" *ngFor="let item of jobs">
                                    <ion-card>
                                        <ion-item color="light" lines="no-lines">

                                            <ion-thumbnail slot="start" class="ion-float-left ion-align-self-start">
                                                <img
                                                    src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
                                            </ion-thumbnail>

                                            <ion-label>
                                                <ion-text>
                                                    <h3>
                                                        {{item.position}}
                                                    </h3>
                                                    <h3 color="primary">
                                                        Por: <a>{{item.enterprise.name}}</a>
                                                    </h3>
                                                </ion-text>
                                                <p>
                                                    {{item.description}}
                                                </p>
                                                <h2>
                                                    {{item.kind_job.name}}
                                                </h2>
                                                <h2>
                                                    ${{item.salary}}
                                                </h2>
                                                <ion-button color="primary" expand="block" class="add-btn"
                                                    routerLink="../../{{item.name_url}}/{{item.key}}"
                                                    routerDirection="root">
                                                    <ion-ripple-effect></ion-ripple-effect>
                                                    Revisar Plaza
                                                </ion-button>
                                            </ion-label>
                                        </ion-item>
                                    </ion-card>
                                </ion-col>
                            </ion-row>
                        </div> -->

                    </ion-col>
                </ion-row>

            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>