<ion-content fullscreen padding scroll-y="false">
    <ion-slides [options]="slideOptsProgressbar" #Slides paginationType="progress">

        <ion-slide justify-content-center>

            <h2>¡Excelente ayudanos a poder completar el perfil para {{user?.enterprise?.name}}!</h2>
            <ion-grid>
                <form [formGroup]="firstStepForm" novalidate>

                    <ion-row justify-content-center>

                        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">

                            <image-upload [max]="1" [extensions]="['jpg','png']" [buttonCaption]="'Logo de empresa'"
                                [dropBoxMessage]="'Agrega el logo de tu empresa'"
                                (uploadStateChanged)="imagesState($event)" (uploadFinished)="onUploadFinished($event)">
                            </image-upload>

                            <ion-item>
                                <ion-label position="floating">Ingresa el numero teléfono</ion-label>
                                <ion-input type="number" value="" formControlName="phone_contact"></ion-input>
                            </ion-item>

                            <ion-item>
                                <ion-label position="floating">Ingresa correo electronico de contacto</ion-label>
                                <ion-input type="email" value="" formControlName="email_contact"></ion-input>
                            </ion-item>

                            <br>
                            <ion-button size="large" type="submit" (click)="nextSlide()" expand="block"
                                [disabled]="firstStepForm.invalid">Siguiente
                            </ion-button>
                        </ion-col>
                    </ion-row>
                </form>
            </ion-grid>

        </ion-slide>

        <ion-slide>
            <ion-grid>
                <form [formGroup]="secondStepForm" novalidate>
                    <h2>Agrega las sucursales de {{user?.enterprise?.name}}</h2>

                    <ion-row>
                        <ion-col size-md="3" size-lg="3" size-xs="6" *ngFor="let branch of branches; let i = index">
                            <ion-card>
                                <ion-card-header>
                                    <ion-card-subtitle>{{branch.name}}</ion-card-subtitle>
                                    <ion-card-subtitle>{{branch.address}}</ion-card-subtitle>
                                    <ion-card-subtitle>
                                        <ion-icon name="call"></ion-icon> {{branch.number}}
                                    </ion-card-subtitle>
                                </ion-card-header>
                                <ion-footer>
                                    <ion-toolbar>
                                        <ion-button expand="full" color="danger" (click)="RemoveBranch(branch, i)">
                                            <ion-icon slot="start" name="remove"></ion-icon>
                                            Quitar sucursal
                                        </ion-button>
                                    </ion-toolbar>
                                </ion-footer>
                            </ion-card>
                        </ion-col>
                    </ion-row>

                    <ion-row justify-content-center>
                        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
                            <ion-button size="large" type="submit" (click)="updateProfile()" expand="block"
                                [disabled]="secondStepForm.invalid">
                                Siguiente
                            </ion-button>
                        </ion-col>
                    </ion-row>
                </form>
            </ion-grid>

            <ion-fab vertical="top" horizontal="end" slot="fixed" (click)="addBranch()">
                <ion-fab-button>
                    <ion-icon name="add"></ion-icon>
                </ion-fab-button>
            </ion-fab>
        </ion-slide>

        <ion-slide justify-content-center>

            <h2>¡Excelente {{user?.name}}!</h2>
            <p>Tu perfil ah sido enviado para su aprovación te indicaremos cuando sea aprovado</p>

            <ion-button size="large" (click)="finish()" expand="block">
                Finalizar
            </ion-button>

        </ion-slide>
    </ion-slides>
</ion-content>