<app-people-header [user]="user"></app-people-header>

<ion-content color="secondary">
    <ion-grid>
        <ion-row>
            <ion-col size-md="2" size-sm="12" size-xs="12">
                <app-people-menu [user]="user"></app-people-menu>
            </ion-col>
            <ion-col size-md="10" size-sm="12" size-xs="12">
                <ion-row>
                    <ion-col size-md="2" size-sm="12" size-xs="12">
                        <img src="{{user?.image?.downloadURL}}" alt="">

                        <ion-button color="success" expand="block" (click)="updateUser()">
                            <ion-ripple-effect></ion-ripple-effect>
                            Restaurar contraseña
                        </ion-button>
                    </ion-col>
                    <ion-col size-md="10" size-sm="12" size-xs="12">
                        <p>
                            Ingresa tu correo electronico para cambiar tu contraseña
                        </p>
                        <ion-card no-margin>
                            <form [formGroup]="ConfigurationsForm" novalidate>
                                <ion-item lines="none" class="border">
                                    <ion-label position="floating">Ingresa tu correo electronico
                                    </ion-label>
                                    <ion-input type="email" formControlName="email">
                                    </ion-input>
                                </ion-item>
                            </form>
                        </ion-card>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>