<app-enterprises-header [user]="user" [enterprise]="enterprise"></app-enterprises-header>

<ion-content color="secondary">

    <ion-grid>
        <ion-row>
            <ion-col size-md="2" size-sm="12" size-xs="12">
                <app-enterprises-menu [user]="user" [enterprise]="enterprise"></app-enterprises-menu>
            </ion-col>

            <ion-col size-md="10" size-sm="12" size-xs="12">
                <ion-row *ngIf="!jobsData">
                    <ion-col size-md="12" size-sm="12" size-xs="12">
                        <ion-card>
                            <ion-item>
                                <ion-avatar slot="start">
                                    <ion-skeleton-text animated></ion-skeleton-text>
                                </ion-avatar>
                                <ion-label>
                                    <h3>
                                        <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                                    </h3>
                                    <p>
                                        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                                    </p>
                                    <p>
                                        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                                    </p>
                                </ion-label>
                            </ion-item>
                        </ion-card>
                    </ion-col>
                </ion-row>

                <div *ngIf="jobsData">


                    <ion-card>
                        <ion-row>
                            <ion-col size-md="3" size-sm="3" size-xs="12">
                                <ion-item color="light" lines="no-lines">
                                    <ion-label>
                                        <ion-text>
                                            <h3>
                                                Plaza
                                            </h3>
                                        </ion-text>
                                    </ion-label>
                                </ion-item>
                            </ion-col>

                            <ion-col size-md="3" size-sm="3" size-xs="12">
                                <ion-item color="light" lines="no-lines">
                                    <ion-label>
                                        <ion-text>
                                            <h3>
                                                Salario
                                            </h3>
                                        </ion-text>
                                    </ion-label>
                                </ion-item>
                            </ion-col>

                            <ion-col size-md="3" size-sm="3" size-xs="12">
                                <ion-item color="light" lines="no-lines">
                                    <ion-label>
                                        <ion-text>
                                            <h3>
                                                Empleado
                                            </h3>
                                        </ion-text>
                                    </ion-label>
                                </ion-item>
                            </ion-col>

                            <ion-col size-md="3" size-sm="3" size-xs="12">
                                <ion-item color="light" lines="no-lines">
                                    <ion-label>
                                        <ion-text>
                                            <h3>
                                                Fecha de contratación
                                            </h3>
                                        </ion-text>
                                    </ion-label>
                                </ion-item>
                            </ion-col>

                        </ion-row>
                    </ion-card>


                    <ion-card *ngFor="let job of jobs">
                        <ion-row>
                            <ion-col size-md="3" size-sm="3" size-xs="12">
                                <ion-item color="light" lines="no-lines">
                                    <ion-label>
                                        <ion-text>
                                            <h3>
                                                {{job?.position}}
                                            </h3>
                                        </ion-text>
                                    </ion-label>
                                </ion-item>
                            </ion-col>

                            <ion-col size-md="3" size-sm="3" size-xs="12">
                                <ion-item color="light" lines="no-lines">
                                    <ion-label>
                                        <ion-text>
                                            <h3>
                                                ${{job?.salary}}
                                            </h3>
                                        </ion-text>
                                    </ion-label>
                                </ion-item>
                            </ion-col>

                            <ion-col size-md="3" size-sm="3" size-xs="12">
                                <ion-item color="light" lines="no-lines" (click)="previewApplicant(job?.contratation?.applicant)">
                                    <ion-label>
                                        <ion-text>
                                            <h3>
                                                {{job?.contratation?.applicant?.name}}
                                                {{job?.contratation?.applicant?.lastname}}
                                            </h3>
                                        </ion-text>
                                    </ion-label>
                                </ion-item>
                            </ion-col>

                            <ion-col size-md="3" size-sm="3" size-xs="12">
                                <ion-item color="light" lines="no-lines">
                                    <ion-label>
                                        <ion-text>
                                            <h3>
                                                {{job?.contratation?.date}}
                                            </h3>
                                        </ion-text>
                                    </ion-label>
                                </ion-item>
                            </ion-col>

                        </ion-row>
                    </ion-card>

                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>