:root {
    --ion-color-primary: #5287C6;
    --ion-color-primary-rgb: 82, 135, 198;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #4877ae;
    --ion-color-primary-tint: #6393cc;

    --ion-color-secondary: #f7f7f7;
    --ion-color-secondary-rgb: 247, 247, 247;
    --ion-color-secondary-contrast: #000000;
    --ion-color-secondary-contrast-rgb: 0, 0, 0;
    --ion-color-secondary-shade: #d9d9d9;
    --ion-color-secondary-tint: #f8f8f8;

    --ion-color-tertiary: #7044ff;
    --ion-color-tertiary-rgb: 112, 68, 255;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255, 255, 255;
    --ion-color-tertiary-shade: #633ce0;
    --ion-color-tertiary-tint: #7e57ff;

    --ion-color-success: #99C651;
    --ion-color-success-rgb: 153, 198, 81;
    --ion-color-success-contrast: #ffffff;
    --ion-color-success-contrast-rgb: 0, 0, 0;
    --ion-color-success-shade: #87ae47;
    --ion-color-success-tint: #a3cc62;

    --ion-color-warning: #ffce00;
    --ion-color-warning-rgb: 255, 206, 0;
    --ion-color-warning-contrast: #ffffff;
    --ion-color-warning-contrast-rgb: 255, 255, 255;
    --ion-color-warning-shade: #e0b500;
    --ion-color-warning-tint: #ffd31a;

    --ion-color-danger: #DC6364;
    --ion-color-danger-rgb: 220, 99, 100;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 0, 0, 0;
    --ion-color-danger-shade: #c25758;
    --ion-color-danger-tint: #e07374;

    --ion-color-dark: #393B4F;
    --ion-color-dark-rgb: 57, 59, 79;
    --ion-color-dark-contrast: #ffffff;
    --ion-color-dark-contrast-rgb: 255, 255, 255;
    --ion-color-dark-shade: #323446;
    --ion-color-dark-tint: #4d4f61;

    --ion-color-medium: #424554;
    --ion-color-medium-rgb: 66,69,84;
    --ion-color-medium-contrast: #ffffff;
    --ion-color-medium-contrast-rgb: 255,255,255;
    --ion-color-medium-shade: #3a3d4a;
    --ion-color-medium-tint: #555865;

    --ion-color-light: #f4f4f4;
    --ion-color-light-rgb: 244, 244, 244;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0, 0, 0;
    --ion-color-light-shade: #d7d7d7;
    --ion-color-light-tint: #f5f5f5;
}