<ion-content>
    <div class="background">
        <ion-grid>
            <ion-row>
                <ion-col size="2">
                    <img src="./assets/usaid-white.png">
                </ion-col>
                <ion-col size="2">
                    <img src="./assets/alempleo-white.png">
                </ion-col>
                <ion-col size="2">
                    <img src="./assets/fundemas-white.png">
                </ion-col>

                <ion-col size="6">
                    <ion-text color="light" class="menu-font">
                        <a href="http://alempleo.org">Inicio</a>
                    </ion-text>
                    <ion-text color="light" class="menu-font">
                        <a href="http://www.alempleo.org/about.html">Sobre Nosotros</a>
                    </ion-text>
                    <ion-text color="light" class="menu-font">
                        <a href="http://www.alempleo.org/empresas.html">Empresas</a>
                    </ion-text>
                    <ion-text color="light" class="menu-font">
                        <a href="http://www.alempleo.org/personas.html">Candidatos</a>
                    </ion-text>
                    <ion-text color="light" class="menu-font">
                        <a href="http://www.alempleo.org/blog.html">Blog</a>
                    </ion-text>
                    <ion-text color="light" class="menu-font">
                        <a (click)="presentPopover($event)">Acceder</a>
                    </ion-text>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="11" offset="1">
                    <ion-row>
                        <ion-col size="5">
                            <img src="http://www.alempleo.org/img/features.png" class="img-responsive">
                        </ion-col>
                        <ion-col size="7">
                            <form [formGroup]="loginForm" novalidate (submit)="login()">
                                <ion-grid justify-content-center>
                                    <ion-row color="primary" justify-content-center>
                                        <ion-col align-self-center size="12" class="authentications-boxes">
                                            <ion-text color="light" text-center>
                                                <h3>Inicia Sesión <span class="color-primary"> empresas</span></h3>
                                            </ion-text>
                                            <div padding>
                                                <ion-item>
                                                    <ion-label position="floating">Correo Electronico</ion-label>
                                                    <ion-input (keyup.enter)="login()" type="text"
                                                        formControlName="name" formControlName="email"></ion-input>
                                                </ion-item>

                                                <ion-item>
                                                    <ion-label position="floating">Contraseña</ion-label>
                                                    <ion-input (keyup.enter)="login()" name="password" type="password"
                                                        formControlName="password"></ion-input>
                                                </ion-item>
                                            </div>

                                            <div padding>
                                                <ion-button size="large" type="submit" [disabled]="loginForm.invalid"
                                                    expand="block" (click)="login()">Login</ion-button>
                                                <ion-button color="secondary" fill="clear" (click)="forgotPassword()">
                                                    Olvide mi contraseña
                                                </ion-button>
                                            </div>
                                        </ion-col>
                                    </ion-row>
                                </ion-grid>
                            </form>
                        </ion-col>
                    </ion-row>
                </ion-col>
            </ion-row>


        </ion-grid>

        <div class="start">
            <ion-grid>
                <ion-row>
                    <ion-col text-center>
                        <ion-text color="light" text-center>
                            <p>Date una oportunidad</p>
                        </ion-text>
                        <ion-text color="light" text-center>
                            <h3>¿Estas listo? Registrate</h3>
                        </ion-text>

                        <ion-button shape="round" routerLink="/registro/personas" routerDirection="root">Persona
                        </ion-button>
                        <ion-button shape="round" routerLink="/registro/empresas" routerDirection="root">Empresa
                        </ion-button>

                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>


        <div class="footer">
            <ion-grid>
                <ion-row>
                    <ion-col size="10" offset="1">
                        <ion-row>
                            <ion-col size="4">
                                <img src="./assets/usaid-white.png">
                                <br>
                                <br><br>
                                Alempleo es una plataforma que tiene por objetivo el brindar oportunidades de trabajo a
                                jóvenes salvadoreños.



                            </ion-col>

                            <ion-col size="3" offset="1">
                                <h2>Links</h2>
                                <p>
                                    <a href="http://www.alempleo.org/index.html">Inicio</a>
                                </p>
                                <p>
                                    <a href="http://www.alempleo.org/about.html">Sobre nosotros</a>
                                </p>
                                <p>
                                    <a href="http://www.alempleo.org/empresas.html">Empresas</a>
                                </p>
                                <p>
                                    <a href="http://www.alempleo.org/personas.html">Candidatos</a>
                                </p>
                                <p>
                                    <a href="http://www.alempleo.org/blog.html">Blog</a>
                                </p>
                            </ion-col>

                            <ion-col size="4">
                                <h2>Info de contacto</h2>
                                <p>
                                    <ion-icon src="./assets/location.svg"></ion-icon>
                                    San Salvador, El Salvador
                                </p>
                                <p>
                                    <ion-icon src="./assets/call.svg"></ion-icon>
                                    TEL: +503 2264-9118 <br>

                                    Whatsapp: +503 7233-8360
                                </p>
                                <p>
                                    <ion-icon src="./assets/mail.svg"></ion-icon>
                                    empleos@laescalon.org
                                </p>
                            </ion-col>
                        </ion-row>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
    </div>
</ion-content>