:root {
    --ion-safe-area-top: 20px;
    --ion-safe-area-bottom: 22px;
  }
  
  .swiper-slide {
    display: block;
  }
  
  div.swiper-pagination.swiper-pagination-progressbar {
    top: inherit;
    bottom: 0;
  }
  ion-item{
      --background: transparent !important;
  }
  
  .upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    color: #fff;
    .btn {
      border: 0;
      color: #fff;
      background-color: #352d85;
      padding: 8px 20px;
      border-radius: 8px;
      font-size: 20px;
      font-weight: bold;
    }
    .custom-btn {
      font-size: 12px;
      padding: 8px;
      text-align: left;
      margin: 4px;
    }
    input[type="file"] {
      font-size: 100px;
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;
    }
  }
  
  .upload-btn-wrapper {
    input {
      &:hover {
        cursor: pointer;
      }
    }
  }
  
  