<app-people-header [user]="user"></app-people-header>

<ion-content color="secondary">
    <ion-grid>
        <ion-row>


            <!-- <ion-col size-md="2" size-sm="12" size-xs="12">
                <app-people-menu [user]="user"></app-people-menu>
            </ion-col> -->

            <ion-col size-md="10" size-sm="12" size-xs="12">
                <form [formGroup]="starterForm" novalidate>
                    <ion-row>
                        <ion-col size-md="2" size-sm="2" size-xs="12" offset-md="2" offset-sm="2" text-center>
                            <image-upload [max]="1" [extensions]="['jpg','png']" [buttonCaption]="'Imagen de perfil'"
                                [dropBoxMessage]="'Cambia tu imagen de perfil'"
                                (uploadStateChanged)="imagesState($event)" (uploadFinished)="onUploadFinished($event)">
                            </image-upload>

                            <div class="upload-btn-wrapper">
                                <button class="btn">Subir CV</button>
                                <input type="file" name="myfile" (change)="upload($event)" accept=".png,.jpg,.PDF" />
                            </div>

                            <ion-button color="success" expand="block" (click)="updateProfile()">
                                <ion-ripple-effect></ion-ripple-effect>
                                Actualizar
                            </ion-button>



                        </ion-col>

                        <ion-col size-md="8" size-sm="8" size-xs="12">
                            <ion-item lines="none" text-center style="margin-top:30px;">

                                <h2 text-center block>
                                    Información General
                                </h2>
                            </ion-item>

                            <ion-row>
                                <ion-col size-md="4" size-sm="4" size-xs="12">
                                    <ion-item>
                                        <ion-label position="floating">Nombre
                                        </ion-label>
                                        <ion-input type="text" formControlName="name">
                                        </ion-input>
                                    </ion-item>
                                </ion-col>

                                <ion-col size-md="4" size-sm="4" size-xs="12">
                                    <ion-item>
                                        <ion-label position="floating">Apellido
                                        </ion-label>
                                        <ion-input type="text" formControlName="lastname">
                                        </ion-input>
                                    </ion-item>
                                </ion-col>

                                <ion-col size-md="4" size-sm="4" size-xs="12">
                                    <ion-item>
                                        <ion-label position="floating">Estado civil
                                        </ion-label>
                                        <ion-select interface="popover" formControlName="civil_status">
                                            <ion-select-option value="soltero">Soltero/a</ion-select-option>
                                            <ion-select-option value="casado">Casado/a</ion-select-option>
                                            <ion-select-option value="divorciado">Divorciado/a</ion-select-option>
                                            <ion-select-option value="divorciado">Viudo/a</ion-select-option>
                                        </ion-select>
                                    </ion-item>
                                </ion-col>

                                <ion-col size-md="6" size-sm="6" size-xs="12">
                                    <ion-item>
                                        <ion-label position="floating">Genero
                                        </ion-label>
                                        <ion-select interface="popover" formControlName="gender">
                                            <ion-select-option value="masculino">Masculino</ion-select-option>
                                            <ion-select-option value="femenino">Femenino</ion-select-option>
                                        </ion-select>
                                    </ion-item>
                                </ion-col>

                                <ion-col size-md="6" size-sm="6" size-xs="12">
                                    <ion-item>
                                        <ion-label position="floating">Correo Electronico
                                        </ion-label>
                                        <ion-input type="text" formControlName="email">
                                        </ion-input>
                                    </ion-item>
                                </ion-col>

                                <ion-col size-md="4" size-sm="4" size-xs="12">
                                        <ion-item>
                                            <ion-label position="floating">Numero telefonico (1)
                                            </ion-label>
                                            <ion-input type="number" formControlName="number_1">
                                            </ion-input>
                                        </ion-item>
                                    </ion-col>
    
                                    <ion-col size-md="4" size-sm="4" size-xs="12">
                                        <ion-item>
                                            <ion-label position="floating">Numero telefonico (2)
                                            </ion-label>
                                            <ion-input type="number" formControlName="number_2">
                                            </ion-input>
                                        </ion-item>
                                    </ion-col>
    
                                    <ion-col size-md="4" size-sm="4" size-xs="12">
                                        <ion-item>
                                            <ion-label position="floating">Numero telefonico (3)
                                            </ion-label>
                                            <ion-input type="number" formControlName="number_3">
                                            </ion-input>
                                        </ion-item>
                                    </ion-col>

                                <ion-col size-md="12" size-sm="12" size-xs="12">
                                    <ion-item>
                                        <ion-label position="floating">Dirección
                                        </ion-label>
                                        <ion-textarea formControlName="address"></ion-textarea>
                                    </ion-item>
                                </ion-col>

                                <ion-col size-md="6" size-sm="6" size-xs="12">
                                    <ion-item>
                                        <ion-label position="floating">Fecha de cumpleaños
                                        </ion-label>
                                        <ion-input type="date" formControlName="birthdate">
                                        </ion-input>
                                    </ion-item>
                                </ion-col>


                                <ion-col size-md="6" size-sm="6" size-xs="12">
                                    <ion-item>
                                        <ion-label position="floating">DUI
                                        </ion-label>
                                        <ion-input type="text" formControlName="dui">
                                        </ion-input>
                                    </ion-item>
                                </ion-col>

                                <ion-col size-md="6" size-sm="6" size-xs="12">
                                    <ion-item>
                                        <ion-label position="floating">NIT
                                        </ion-label>
                                        <ion-input type="text" formControlName="nit">
                                        </ion-input>
                                    </ion-item>
                                </ion-col>

                                <ion-col size-md="6" size-sm="6" size-xs="12">
                                    <ion-item>
                                        <ion-label position="floating">NUP (AFP)
                                        </ion-label>
                                        <ion-input type="text" formControlName="nup">
                                        </ion-input>
                                    </ion-item>
                                </ion-col>

                            </ion-row>

                            <ion-item style="margin-top:30px;">

                                <h2 text-center block>
                                    Experiencia Laboral
                                </h2>

                                <ion-button slot="end" (click)="addExperience()">
                                    <ion-icon name="add" slot="end"></ion-icon>
                                    Agregar
                                </ion-button>
                            </ion-item>

                            <ion-row>
                                <ion-col size-md="6" size-lg="6" size-xs="12"
                                    *ngFor="let experience of experiences; let i = index">
                                    <ion-card>

                                        <ion-fab vertical="top" horizontal="end" slot="edge">
                                            <ion-fab-button color="danger" (click)="RemoveExperience(experience, i)">
                                                <ion-icon name="remove"></ion-icon>
                                            </ion-fab-button>
                                        </ion-fab>

                                        <ion-card-header>
                                            <ion-card-subtitle>
                                                {{experience.position}}
                                            </ion-card-subtitle>
                                            <ion-card-title>
                                                {{experience.name}}
                                            </ion-card-title>
                                        </ion-card-header>
                                        <ion-card-content>
                                            <p>
                                                <strong>Giro:</strong> {{experience.work_item}}
                                            </p>
                                            <p>
                                                <strong>Principales funciones realizadas:</strong>
                                                {{experience.main_functions}}
                                            </p>
                                            <p>
                                                <strong>Jefe inmediato:</strong> {{experience.chief}}
                                            </p>
                                            <p>
                                                <strong>Cargo:</strong> {{experience.chief_position}}
                                            </p>
                                            <p>
                                                <strong>Ingreso:</strong> {{experience.start}}
                                            </p>
                                            <p>
                                                <strong>Salida:</strong> {{experience.end}}
                                            </p>
                                        </ion-card-content>
                                    </ion-card>
                                </ion-col>
                            </ion-row>

                            <ion-item style="margin-top:30px;">
                                <h2 text-center block>
                                    Estudios superiores
                                </h2>

                                <ion-button slot="end" (click)="addCareer()">
                                    <ion-icon name="add" slot="end"></ion-icon>
                                    Agregar
                                </ion-button>
                            </ion-item>

                            <ion-row>
                                <ion-col size-md="6" size-lg="6" size-xs="12"
                                    *ngFor="let career of careers; let i = index">
                                    <ion-card>

                                        <ion-fab vertical="top" horizontal="end" slot="fixed">
                                            <ion-fab-button color="danger" (click)="RemoveCareer(experience, i)">
                                                <ion-icon name="remove"></ion-icon>
                                            </ion-fab-button>
                                        </ion-fab>

                                        <ion-card-header>
                                            <ion-card-subtitle>
                                                {{career.name}}
                                            </ion-card-subtitle>
                                            <ion-card-title>
                                                {{career.institution}}
                                            </ion-card-title>
                                        </ion-card-header>
                                        <ion-card-content>
                                            <p>
                                                <strong>Nivel alcanzado:</strong> {{career.level}}
                                            </p>
                                            <p>
                                                <strong>Periodo:</strong> {{career.period}}
                                            </p>
                                        </ion-card-content>
                                    </ion-card>
                                </ion-col>
                            </ion-row>

                            <ion-item style="margin-top:30px;">
                                <h2 text-center block>
                                    Niveles de estudio alcanzados
                                </h2>

                                <ion-button slot="end" (click)="addStudy()">
                                    <ion-icon name="add" slot="end"></ion-icon>
                                    Agregar
                                </ion-button>
                            </ion-item>

                            <ion-row>
                                <ion-col size-md="6" size-lg="6" size-xs="12"
                                    *ngFor="let study of studys; let i = index">
                                    <ion-card>

                                        <ion-fab vertical="top" horizontal="end" slot="fixed">
                                            <ion-fab-button color="danger" (click)="RemoveStudy(study, i)">
                                                <ion-icon name="remove"></ion-icon>
                                            </ion-fab-button>
                                        </ion-fab>

                                        <ion-card-header>
                                            <ion-card-subtitle>
                                                {{study.institution}}
                                            </ion-card-subtitle>
                                        </ion-card-header>
                                        <ion-card-content>
                                            <p>
                                                <strong>Nivel alcanzado:</strong> {{study.period}}
                                            </p>
                                        </ion-card-content>
                                    </ion-card>
                                </ion-col>
                            </ion-row>

                            <ion-item style="margin-top:30px;">
                                <h2 text-center block>
                                    Cursos o seminarios
                                </h2>

                                <ion-button slot="end" (click)="addCourse()">
                                    <ion-icon name="add" slot="end"></ion-icon>
                                    Agregar
                                </ion-button>
                            </ion-item>

                            <ion-row>
                                <ion-col size-md="6" size-lg="6" size-xs="12"
                                    *ngFor="let course of courses; let i = index">
                                    <ion-card>

                                        <ion-fab vertical="top" horizontal="end" slot="fixed">
                                            <ion-fab-button color="danger" (click)="RemoveCourse(study, i)">
                                                <ion-icon name="remove"></ion-icon>
                                            </ion-fab-button>
                                        </ion-fab>

                                        <ion-card-header>
                                            <ion-card-subtitle>
                                                {{course.name}}
                                            </ion-card-subtitle>
                                            <ion-card-subtitle>
                                                {{course.institution}}
                                            </ion-card-subtitle>
                                        </ion-card-header>
                                        <ion-card-content>
                                            <p>
                                                <strong>Duración del curso/seminario:</strong> {{course.duration}}
                                            </p>
                                            <p>
                                                <strong>Fecha:</strong> {{course.date}}
                                            </p>
                                        </ion-card-content>
                                    </ion-card>
                                </ion-col>
                            </ion-row>

                            <ion-item style="margin-top:30px;">
                                <h2 text-center block>
                                    Referencias personales
                                </h2>

                                <ion-button slot="end" (click)="addReference()">
                                    <ion-icon name="add" slot="end"></ion-icon>
                                    Agregar
                                </ion-button>
                            </ion-item>

                            <ion-row>
                                <ion-col size-md="6" size-lg="6" size-xs="12"
                                    *ngFor="let reference of references; let i = index">
                                    <ion-card>

                                        <ion-fab vertical="top" horizontal="end" slot="fixed">
                                            <ion-fab-button color="danger" (click)="RemoveReference(study, i)">
                                                <ion-icon name="remove"></ion-icon>
                                            </ion-fab-button>
                                        </ion-fab>

                                        <ion-card-header>
                                            <ion-card-subtitle>
                                                {{reference.name}}
                                            </ion-card-subtitle>
                                            <ion-card-subtitle>
                                                {{reference.enterprise}}
                                            </ion-card-subtitle>
                                        </ion-card-header>
                                        <ion-card-content>
                                            <p>
                                                <strong>Cargo:</strong> {{reference.position}}
                                            </p>
                                            <p>
                                                <strong>Telefono:</strong> {{reference.phone}}
                                            </p>
                                        </ion-card-content>
                                    </ion-card>
                                </ion-col>
                            </ion-row>

                        </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col size-md="3" size-lg="3" size-xs="6" *ngFor="let item of work_items; let i = index">
                            <ion-card>
                                <ion-card-header>
                                    <ion-card-subtitle>{{item.name}}</ion-card-subtitle>

                                </ion-card-header>
                                <ion-footer>
                                    <ion-toolbar>
                                        <ion-button expand="full" (click)="AddInterest(item)" *ngIf="!item.added">
                                            <ion-icon slot="start" name="add"></ion-icon>
                                            Agregar interés
                                        </ion-button>

                                        <ion-button expand="full" color="danger" (click)="RemoveInterest(i)"
                                            *ngIf="item.added">
                                            <ion-icon slot="start" name="remove"></ion-icon>
                                            Quitar interés
                                        </ion-button>
                                    </ion-toolbar>
                                </ion-footer>

                            </ion-card>
                        </ion-col>
                    </ion-row>


                    <!-- <ion-grid>
                            <ion-row justify-content-left>
                                <ion-col>
                                    <ion-button (click)="prevSlide()">
                                        <ion-icon name="arrow-round-back"></ion-icon>
                                        Regresar
                                    </ion-button>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                        <h2>¡Dejanos saber que te interesa!</h2>
                        
                        <ion-grid>
                            <ion-row justify-content-center>
                                <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
                                    <ion-button size="large" type="submit" (click)="updateProfile()" expand="block"
                                        [disabled]="thirdStepForm.invalid">Siguiente
                                    </ion-button>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col size-md="3" size-lg="3" size-xs="6" *ngFor="let item of work_items">
                                    <ion-card>
                                        <ion-card-header>
                                            <ion-card-subtitle>{{item.name}}</ion-card-subtitle>
                                            
                                        </ion-card-header>
                                        <ion-footer>
                                            <ion-toolbar>
                                                <ion-button expand="full" (click)="AddInterest(item)"
                                                    *ngIf="!item.added">
                                                    <ion-icon slot="start" name="add"></ion-icon>
                                                    Agregar interés
                                                </ion-button>

                                                <ion-button expand="full" color="danger" (click)="RemoveInterest(item)"
                                                    *ngIf="item.added">
                                                    <ion-icon slot="start" name="remove"></ion-icon>
                                                    Quitar interés
                                                </ion-button>
                                            </ion-toolbar>
                                        </ion-footer>

                                    </ion-card>
                                </ion-col>
                            </ion-row>
                        </ion-grid> -->
                </form>
            </ion-col>


        </ion-row>
    </ion-grid>
</ion-content>


<!-- <ion-content fullscreen padding scroll-y="false">

</ion-content> -->