<app-people-header [user]="user"></app-people-header>
<ion-content color="secondary">
    <ion-grid>
        <ion-row>
            <ion-col size-md="2" size-sm="12" size-xs="12">
                <app-people-menu [user]="user"></app-people-menu>
            </ion-col>

            <ion-col size-md="7" size-sm="12" size-xs="12">

                <ion-card color="medium" no-margin>

                    <ion-card-header>
                        <ion-card-subtitle>
                            Seguimiento de plazas activas
                        </ion-card-subtitle>
                    </ion-card-header>

                    <ion-card-content no-padding>
                        <ion-card color="light" no-margin class="custom-card" *ngFor="let application of applications">

                            <ion-list>
                                <ion-item lines="none">
                                    <ion-thumbnail slot="start">
                                        <img src="{{application?.job.enterprise?.image?.downloadURL}}">
                                    </ion-thumbnail>
                                    <ion-label>
                                        <h2>{{application?.job.position}}</h2>
                                        <p>
                                            <a >
                                                Por {{application?.job?.enterprise?.name}}
                                            </a>
                                        </p>
                                    </ion-label>

                                    <ion-button fill="clear" color="dark" slot="end"
                                        routerLink="/plaza/{{application.job.key}}" routerDirection="root">
                                        Ver plaza
                                    </ion-button>

                                </ion-item>
                            </ion-list>
                        </ion-card>

                    </ion-card-content>
                </ion-card>

            </ion-col>

            <ion-col size-md="3" size-sm="3" size-xs="12">

                <ion-card color="light" no-margin>
                    <ion-list lines="none">
                        <ion-item color="medium" lines="none">
                            <ion-label>
                                Ultimas Plazas publicadas
                            </ion-label>

                            <ion-button fill="outline" color="light" slot="end" routerLink="/plazas">
                                Ver todas
                            </ion-button>

                        </ion-item>

                        <div *ngIf="!jobsData">
                            <ion-item>
                                <ion-avatar slot="start">
                                    <ion-skeleton-text animated></ion-skeleton-text>
                                </ion-avatar>
                                <ion-label>
                                    <h3>
                                        <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                                    </h3>
                                    <p>
                                        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                                    </p>
                                    <p>
                                        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                                    </p>
                                </ion-label>
                            </ion-item>
                        </div>

                        <div *ngIf="jobsData">
                            <ion-item color="light" lines="no-lines" *ngFor="let job of jobs">

                                <ion-thumbnail slot="start" class="ion-float-left ion-align-self-start">
                                    <img src="{{job?.enterprise?.image?.downloadURL}}">
                                </ion-thumbnail>

                                <ion-label>
                                    <ion-text>
                                        <h3>
                                            {{job.position}}
                                        </h3>
                                        <h3 color="primary">
                                            Por: <a>{{job.enterprise.name}}</a>
                                        </h3>
                                    </ion-text>
                                    <p>
                                        {{job.description}}
                                    </p>
                                    <h1>
                                        {{job.kind_job.name}}
                                    </h1>
                                    <h1>
                                        ${{job.salary}}
                                    </h1>
                                    <ion-button color="primary" expand="block" class="add-btn"
                                        routerLink="/plaza/{{job.key}}">
                                        <ion-ripple-effect></ion-ripple-effect>
                                        Revisar Plaza
                                    </ion-button>
                                </ion-label>
                            </ion-item>
                        </div>
                    </ion-list>
                </ion-card>

            </ion-col>

        </ion-row>
    </ion-grid>
</ion-content>