<app-enterprises-header [user]="user" [enterprise]="enterprise"></app-enterprises-header>

<ion-content color="secondary">
    <ion-grid>
        <ion-row>
            <ion-col size-md="2" size-sm="12" size-xs="12">
                <app-enterprises-menu [user]="user" [enterprise]="enterprise"></app-enterprises-menu>
            </ion-col>

            <ion-col size-md="10" size-sm="10" size-xs="12">

                <ion-card no-margin>
                    <ion-card-header>
                        <ion-card-title>{{job?.position}}</ion-card-title>
                    </ion-card-header>

                    <ion-card-content>
                        <ion-row>
                            <ion-col size-md="6" size-sm="6" size-xs="12">
                                <h2>
                                    <strong>Detalles de la oferta</strong>
                                </h2>
                                <p>
                                    Empresa: {{job?.enterprise.name}}
                                </p>
                                <p>
                                    Cargo Solicitado: {{job?.position}}
                                </p>
                                <p>
                                    Tipo de trabajo: {{job?.type}}
                                </p>
                                <p>
                                    Area de la empresa: NOMBRE
                                </p>
                            </ion-col>
                            <ion-col size-md="6" size-sm="6" size-xs="12" text-right>
                                <h2>
                                    <strong>Oferta salarias</strong><br>
                                    ${{job?.salary}}
                                </h2>
                            </ion-col>
                        </ion-row>
                    </ion-card-content>
                </ion-card>

                <ion-row text-center>
                    <ion-col size-md="12" size-sm="12" size-xs="12" text-center>
                        <h1 text-center>
                            Favoritos para la plaza
                        </h1>
                    </ion-col>
                </ion-row>

                <ion-row>

                    <ion-col size-md="12" size-sm="12" size-xs="12">
                        <ion-row *ngIf="!favoritesData">
                            <ion-col size-md="6" size-sm="6" size-xs="12">
                                <ion-card>
                                    <ion-item>
                                        <ion-avatar slot="start">
                                            <ion-skeleton-text animated></ion-skeleton-text>
                                        </ion-avatar>
                                        <ion-label>
                                            <h3>
                                                <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                                            </h3>
                                            <p>
                                                <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                                            </p>
                                            <p>
                                                <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                                            </p>
                                        </ion-label>
                                    </ion-item>
                                </ion-card>
                            </ion-col>
                        </ion-row>

                        <div *ngIf="favoritesData">
                            <ion-row>
                                <ion-col size-md="6" size-sm="6" size-xs="12" *ngFor="let fav of favorites">
                                    <ion-card>
                                        <ion-item color="light" lines="no-lines">

                                            <ion-thumbnail slot="start" class="ion-float-left ion-align-self-start">
                                                <img
                                                    src="{{fav.applicant.image?.downloadURL}}">
                                            </ion-thumbnail>

                                            <ion-label>
                                                <ion-text>

                                                    <ion-row>
                                                        <ion-col size-md="7" size-sm="6" size-xs="12">
                                                            <h3>
                                                                {{fav.applicant.name}} {{fav.applicant.lastname}}
                                                            </h3>
                                                            <h3 color="primary">
                                                                email: <a>{{fav.applicant.email}}</a>
                                                            </h3>
                                                            <h3>
                                                                Experiencia: {{fav.applicant.experience}}
                                                            </h3>
                                                        </ion-col>
                                                        <ion-col size-md="5" size-sm="6" size-xs="12" text-right>
                                                            <ion-button color="primary" expand="block" class="add-btn"
                                                                (click)="previewApplicant(fav.applicant)">
                                                                <ion-ripple-effect></ion-ripple-effect>
                                                                Ver aplicante
                                                            </ion-button>
                                                        </ion-col>
                                                    </ion-row>
                                                </ion-text>

                                                <ion-row>
                                                    <ion-col size-md="6" size-sm="6" size-xs="12">
                                                        <ion-button color="success" expand="block" class="add-btn"
                                                            (click)="contratation(fav)"
                                                            *ngIf="fav.status_application !== 'fav'">
                                                            <ion-ripple-effect></ion-ripple-effect>
                                                            Contratar Aplicante
                                                        </ion-button>
                                                    </ion-col>
                                                    <ion-col size-md="6" size-sm="6" size-xs="12">
                                                        <ion-button color="danger" expand="block" class="add-btn"
                                                            (click)="removeFromFavs(fav)">
                                                            <ion-ripple-effect></ion-ripple-effect>
                                                            Quitar de favoritos
                                                        </ion-button>
                                                    </ion-col>

                                                </ion-row>
                                            </ion-label>
                                        </ion-item>
                                    </ion-card>
                                </ion-col>
                            </ion-row>
                        </div>
                    </ion-col>
                </ion-row>

            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>