<app-people-header [user]="user"></app-people-header>

<ion-content color="secondary">
    <ion-grid>
        <ion-row>
            <ion-col size-md="2" size-sm="12" size-xs="12">
                <app-people-menu [user]="user"></app-people-menu>
            </ion-col>

            <ion-col size-md="10" size-sm="12" size-xs="12">
                <h2>Busquedas para</h2>
                <div *ngIf="filter?.length == 0">
                    <h2>
                        No se encontraron resultados de busqueda 
                    </h2>
                </div>

                <ion-list *ngIf="filter?.length > 0">
                    <ion-item *ngFor="let job of filter" routerLink="/plaza/{{job.key}}" routerDirection="root">
                        <ion-label text-wrap lines="none">
                            <ion-text color="primary">
                                <h3>{{job.position}}</h3>
                            </ion-text>
                            <p>
                                {{job?.enterprise?.name}}
                            </p>
                        </ion-label>
                    </ion-item>
                </ion-list>

            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>