<app-enterprises-header [user]="user" [enterprise]="enterprise"></app-enterprises-header>

<ion-content color="secondary">
    <ion-grid>
        <ion-row>
            <ion-col size-md="2" size-sm="12" size-xs="12">
                <app-enterprises-menu [user]="user" [enterprise]="enterprise"></app-enterprises-menu>
            </ion-col>

            <ion-col size-md="7" size-sm="12" size-xs="12">


                <ion-card color="medium" no-margin>

                    <ion-card-header>
                        <ion-card-subtitle>
                            Seguimiento de plazas activas
                        </ion-card-subtitle>
                    </ion-card-header>

                    <ion-card-content no-padding>

                        <ion-card color="light" no-margin class="custom-card" *ngFor="let job of jobs">

                            <ion-list>
                                <ion-item lines="none">
                                    <ion-label>
                                        <h2>
                                            <a routerLink="/mis_plazas/{{job.key}}" routerDirection="root">
                                                {{job.position}}
                                            </a>
                                        </h2>
                                        <p>
                                            {{job.date}}
                                        </p>
                                    </ion-label>

                                    <ion-button fill="clear" color="dark" slot="end"
                                        routerLink="/mis_plazas/{{job.key}}">
                                        Ver plaza
                                    </ion-button>

                                </ion-item>
                            </ion-list>


                            <ion-row no-padding>
                                <ion-col size-md="4" *ngFor="let applicant of job.applicants">
                                    <ion-fab vertical="bottom" horizontal="edge" *ngIf="applicant?.applicant?.alempleo == true">
                                        <ion-fab-button size="small" color="light">
                                            <img src="./assets/imgs/logo.png" alt="">
                                        </ion-fab-button>
                                    </ion-fab>

                                    <ion-item lines="none" detail="false">
                                        <ion-thumbnail slot="start">
                                            <img src="{{applicant?.applicant?.image?.downloadURL}}">
                                        </ion-thumbnail>

                                        <ion-label>
                                            <ion-text color="primary">
                                                <h4>
                                                    <a routerLink="/persona/{{applicant?.name}}/{{applicant?.applicant?.key}}"
                                                        routerDirection="root">
                                                        {{applicant.name}} {{applicant.lastname}}
                                                    </a>
                                                </h4>
                                            </ion-text>

                                        </ion-label>

                                    </ion-item>
                                </ion-col>

                            </ion-row>
                        </ion-card>


                    </ion-card-content>
                </ion-card>
            </ion-col>


            <ion-col size-md="3" size-sm="3" size-xs="12">

                <ion-card color="light" no-margin>
                    <ion-list lines="none">
                        <ion-item color="medium" lines="none">
                            <ion-label>
                                Mis plazas
                            </ion-label>

                            <ion-button fill="outline" color="light" slot="end" routerLink="/mis_plazas"
                                routerDirection="root">
                                Ver todas
                            </ion-button>

                        </ion-item>

                        <div *ngIf="!jobsData">
                            <ion-item class="margin_item">
                                <ion-avatar slot="start">
                                    <ion-skeleton-text animated></ion-skeleton-text>
                                </ion-avatar>
                                <ion-label>
                                    <h3>
                                        <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                                    </h3>
                                    <p>
                                        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                                    </p>
                                    <p>
                                        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                                    </p>
                                </ion-label>
                            </ion-item>
                        </div>

                        <div *ngIf="jobsData">
                            <ion-item color="light" lines="no-lines" *ngFor="let job of jobs_opens">

                                <ion-thumbnail slot="start" class="ion-float-left ion-align-self-start">
                                    <img src="{{enterprise?.image?.downloadURL}}">
                                </ion-thumbnail>

                                <ion-label>
                                    <ion-text>
                                        <h3>
                                            <a routerLink="/mis_plazas/{{job.key}}" routerDirection="root">
                                                {{job.position}}
                                            </a>
                                        </h3>
                                    </ion-text>
                                    <p>
                                        {{job.description}}
                                    </p>
                                    <h2>
                                        ${{job.salary}}
                                    </h2>
                                    <ion-button color="primary" expand="block" class="add-btn"
                                        routerLink="/mis_plazas/{{job.key}}">
                                        <ion-ripple-effect></ion-ripple-effect>
                                        Revisar Plaza
                                    </ion-button>
                                </ion-label>
                            </ion-item>
                        </div>
                    </ion-list>
                </ion-card>

            </ion-col>

        </ion-row>
    </ion-grid>
</ion-content>