// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

// http://ionicframework.com/docs/theming/

a:hover {
    cursor: pointer;
}
a{
    text-decoration: none;
}

// --background: var(--ion-color-primary);

// ion-alert.applyToJob{
//     --background: var(--ion-color-success) !important;
//     --width: 30% !important;
//     --max-width: 100% !important;
//     .confirmButtonAlert{
//         color:var(--ion-color-light) !important;
//         background-color: var(--ion-color-success) !important;
//     }
//     .cancelButtonAlert{
        
//         color:var(--ion-color-danger) !important;
//     }
// }

ion-modal{
    --width: 80% !important;
}

ion-thumbnail{
    width: 100px;
    height: 100px;
}

ion-button{
    &:hover{
        opacity: 0.6;
    }
}

.margin_item{
    margin: 10px;
}

.experience-alert{
    --background: var(--ion-color-dark);
    .alert-title{
        color: #fff !important;
    }
    .alert-input{
        border-radius: 12px;
        padding: 12px;
    }
    .alert-wrapper{
        --max-width: 30% !important;
        --width: 30% !important;
    }
}


app-applicant{
    overflow: scroll !important;
}