ion-item {
  --color: #fff;
}
.background {
  // --background: url('./assets/back.jpg');
  background: url("../../../../../src/assets/back.jpg");
  background-size: cover;
  height: 100%;
  width: 100%;
}
.start{
    padding: 5% 0;
    background: url("../../../../../src/assets/cta.jpg");
    background-size: cover;
}
ion-item {
  --background-focused: transparent;
  --background: transparent;
}

.authentications-boxes {
  background-color: #010d34;
  border-radius: 4px;
  margin-top: 10%;
}

ion-toolbar {
  --background: var(--ion-color-primary);
}

ion-back-button {
  --color: #010d34;
}
.img-responsive {
  max-width: 100%;
}
.color-primary {
  color: #1b88d6;
}
.menu-font{
    padding: 20px;
    line-height: 5;
}
a{
    color: #fff;
}
a:hover{
    cursor: pointer
}

.footer{
    background: #211b31;
    color: #abadbe;
    a{
        text-decoration: none;
        color: rgba(226, 219, 243, 0.30);
        &:hover{
            color: rgba(226, 219, 243, 1);
        }
    }
}